/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1d7d8;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #a06470;
    font-weight: 700;
    text-align: center;
    text-shadow: #d4847a;
    margin-bottom: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #a06470;
    text-align: center;
    text-shadow: #d4847a;
    margin-bottom: 20px;
}

.join-create-teams {
    text-align: center;
    margin-bottom: 20px;
}

.join-create-teams h2 {
    font-size: 24px;
    color: #a06470;
    font-weight: 600;
}

.home-container .home-button {
    display: flex;
    justify-content: center;
}

.home-button {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.home-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: #a06470;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: white;
}

.home-button .btn:hover {
    background: #d4847a;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgb(152, 112, 112), transparent);
    z-index: 100;
    padding: 0 20px;
}

.nav-logo img {
    height: 200px;
    margin-top: 5px;
    padding: 0;
    width: auto;
    object-fit: contain;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: #a06470;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: white;
}

.nav-button .btn:hover {
    background: #d4847a;
}

.btn.white-btn {
    background: #f1d7d8;
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 515px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.login-container,
.register-container {
    position: absolute;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    right: -520px;
}

.top span {
    color: #fff;
    font-size: small;
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #a06470;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #a06470;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #a06470;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #a06470;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #a06470;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: #d4847a;
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #a06470;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #a06470;
}

.two label a:hover {
    text-decoration: underline;
}

/* Carousel Styles */
.carousel {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px; /* Add space between text and carousel */
}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 33.33%; /* Show 3 items */
    max-width: 33.33%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.carousel-item.center img {
    transform: scale(1.1); /* Make the center image larger */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow to the center image */
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-prev,
.carousel-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.logout-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.logout-btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: #a06470;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: white;
    text-align: center;
}

.logout-btn:hover {
    background: #d4847a;
}


/* Footer Styles */
footer {
    text-align: center;
    background-color: #f1d7d8; 
    color: #a06470;
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #a06470;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}
