*{
    font-weight: 500;
}

.create-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background:#f1d7d8;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/

}

form {
    display: flex;
    flex-direction: column;
    /* background: rgba(255, 255, 255, 0.2); */
}


label {
    margin-bottom: 5px;
    font-weight: bold;
    color:#a06470;
    font-weight: 500;
 
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border:none;
    font-weight: 400;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
}

button {
    background-color:#a06470;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#a06470;
}